.footer-container {
  background: #000;
  color: #fff;
  padding: 40px 120px;
  display: grid;
  grid-template-columns: 4fr 2fr 3fr;
  gap: 60px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-rowBetween {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  font-size: 28px;
  font-weight: 700;
}

.footer-callBtn {
  background: linear-gradient(90deg, #ed4410, #d17b1a);
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  font-size: 14px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-text {
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
}

.footer-link {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 6px;
}

.footer-socialRow {
  display: flex;
  gap: 12px;
  font-size: 22px;
  margin-top: 10px;
}

.footer-copyRow {
  grid-column: 1 / 4;
  border-top: 1px solid #333;
  padding-top: 25px;
  text-align: center;
  margin-top: 20px;
  color: #888;
  font-size: 14px;
}

.footer-socialRow {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icon {
  font-size: 22px;
  color: #ff6a00;
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  background: #ff6a00;
  color: #fff;
  transform: translateY(-3px);
}

/* ------------ MEDIA QUERIES ------------ */

/* Tablet */
@media (max-width: 1024px) {
  .footer-container {
    padding: 40px 60px;
    grid-template-columns: 3fr 2fr 3fr;
    gap: 40px;
  }
}

/* Small Tablet */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px;
    gap: 30px;
  }

  .footer-copyRow {
    grid-column: 1 / 3;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-rowBetween {
    flex-direction: column;
    gap: 10px;
  }

  .footer-socialRow {
    justify-content: center;
  }

  .footer-copyRow {
    grid-column: 1 / 1;
  }
}
